.start-menu-container {
  width: 600px;
  height: 720px;

  background-color: #e0e3f0;

  border: 1px solid gray;
  border-radius: 6px;

  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 100;

  .start-menu-content {
    box-sizing: border-box;
    padding: 20px 25px 0;

    user-select: none;

    .input-wrapper {
      height: 30px;
      background-color: aliceblue;
      border-radius: 15px;

      box-sizing: border-box;
      padding: 1px;
      padding-left: 12px;

      border: 1px solid #bbb;

      font-size: 12px;

      margin-bottom: 30px;
    }

    .pin-header {
      margin-bottom: 10px;
      box-sizing: border-box;
      padding: 0 20px;

      font-size: 12px;

      .all-apps {
        background-color: #f6f8fd;
        border: 1px solid #999;

        border-radius: 4px;

        box-sizing: border-box;
        padding: 2px 4px;
      }
    }

    .pin-block {
      //
    }
  }

  .start-menu-footer {
    height: 50px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: #dfe6f6;

    border-top: 1px solid #bbb;

    box-sizing: border-box;
    padding: 10px 30px;

    .profile {
      box-sizing: border-box;
      padding: 4px 8px;
      .profile-content {
        font-size: 12px;
        .name {
          margin-left: 4px;
        }
      }
    }

    .footer-icons {
      .common-button-wrapper {
        margin-right: 4px;
      }
      .footer-icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}
