.start-menu-container {
  width: 640px;
  height: 730px;

  background-color: #e0e3f0;

  border: 1px solid gray;
  border-radius: 6px;

  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  .start-menu-content {
    box-sizing: border-box;
    padding: 20px 25px 0;
  }

  .start-menu-footer {
    height: 60px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: #dfe6f6;

    border-top: 1px solid #bbb;

    box-sizing: border-box;
    padding: 10px 60px;
  }
}
