.setting-window-component {
  .content-container {
    border: 1px solid red;

    .menus {
      width: 240px;

      border: 1px solid red;

      .menu-item {
        height: 40px;

        border-radius: 4px;

        margin-bottom: 8px;
      }

      .menu-item:hover {
        background-color: #e7ebf0;
      }
    }

    .content {
      border: 1px solid red;
    }
  }
}
