#root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

.window-container {
  position: relative;
}

.desktop-container {
  position: relative;

  overflow: hidden;

  .desktop-icon-wrapper {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .desktop-selection {
    border: 1px solid #137fd6;
    background-color: rgba(#137fd6, 0.5);

    position: absolute;
  }

  .desktop-window-container {
    position: relative;
  }
}
