#root {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

#window-container {
  background: url('./assets/wallpaper/light.jpg');

  background-size: 100% 100%;
}

.window-container {
  position: relative;
}
